<h1>Editing Project Planification</h1>

<%= render 'form', project_planification: @project_planification %>

<%= link_to 'Show', @project_planification %> |
<%= link_to 'Back', project_planifications_path %>
