<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project_planification.name %>
</p>

<p>
  <strong>Place:</strong>
  <%= @project_planification.place %>
</p>

<p>
  <strong>Project:</strong>
  <%= @project_planification.project %>
</p>

