<h1> New project survey </h1>


<p> Ingresa los mails de las personas a las que deseas encuestar separados por comas</p>
<%= form_tag("create") do %>
  <%= text_field_tag "students_emails" %>

  <%= submit_tag "Submit" %>

<% end %>






