<div> <strong> <center> Etapa 2 de 4: Elegir  </center></strong> </div>
</br>
<%= progress_bar 0.50, label: true, style: 'min-width: 20px', alternative: 'success', active: true %>

<h1>New Project Choice</h1>

<%= render 'form', project_choice: @project_choice %>

