  <div class="projects">
    <% if @projects.any? %>
    <h1>Todos los proyectos</h1>
    
    
        <% @projects.each do |project| %>
        <div class="card">
          
            <div class="image">
                <span class="title"><%= project.name %></span>
                <button class="fab ripple"></button>
            </div>
            <div class="content">
            <p><%= project.description.truncate_words(20) %></p>
          </div>
          <div class="action">
            <%= link_to "Ver más", project, class: "ripple" %>
          </div>
        </div>
          
        <% end %>
   
    
    <br>
    
  <% end %>
  <div class="center">
      <% if user_signed_in?%>
        <%= link_to 'Crear nuevo proyecto', new_project_path %>
      <%end%>
    </div>
  </div>
  