
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>¡Hola!</h1>
    <br>
    <h2>Has llegado a la etapa final del proceso. Queríamos saber tu opinión y te agradeceríamos que nos respondieras las siguientes preguntas: </h2>
    <br>
    <p> 1) ¿Cómo han sido las últimas clases?</p>
    <br>
	<p> 2) ¿Qué cosas nuevas hicieron que antes no se hacían?</p>
	<br>
	<p> 3) ¿Qué les pareció esta manera enseñar y aprender?, ¿qué fue lo que más les gustó?, ¿qué fue lo que menos les gustó?</p>
	<br>
	<p> 4) ¿Creen que las actividades les gustaron a sus otros compañeros?, ¿por qué sí y por qué no?</p>
	<br>
	<p> 5) ¿Qué aprendieron en estas actividades?, ¿pudieron trabajar con sus compañeros?, ¿cómo?</p>
	<br>
	<p> 6) ¿Les gustaría que estas actividades siguieran desarrollándose?, ¿por qué?</p>
	<br>
	<p> 7) ¿Cómo es una clase creativa para ustedes?</p>
    <br>
	<p> Por favor envía tus respuestas a este mail: <%=@teacher.email%></p>
  </body>
</html>