<div><h1><strong><center> Etapa 5 de 6: Evaluar </center></strong></h1></div>
</br>
<%= progress_bar 0.83, label: true, style: 'min-width: 20px', alternative: 'success', active: true %>

<%= render 'form', project_evaluation: @project_evaluation %>
