<h1>Editing Project Implementation</h1>

<%= render 'form', project_implementation: @project_implementation %>

<%= link_to 'Show', @project_implementation %> |
<%= link_to 'Back', project_implementations_path %>
