<div> <strong> <center> Etapa 4 de 4: Implementar </center></strong> </div>
</br>
<%= progress_bar 0.99, label: true, style: 'min-width: 20px', alternative: 'success', active: true %>

<h1>New Project Implementation</h1>

<%= render 'form', project_implementation: @project_implementation %>

