<div><h1><strong> <center> Etapa 4 de 6: Implementar </center></strong></h1></div>
</br>
<%= progress_bar 0.67, label: true, style: 'min-width: 20px', alternative: 'success', active: true %>

<%= render 'form', project_implementation: @project_implementation %>
