<div> <strong> <center> Etapa 1 de 4: Conectar  </center></strong> </div>
</br>
<%= progress_bar 0.25, label: true, style: 'min-width: 20px', alternative: 'success', active: true %>

<h1>Conectar</h1>

<%= render 'form', project_connection: @project_connection %>

