<div><h1><strong> <center> Etapa 1 de 6: Conectar  </center></strong></h1></div>
</br>
<%= progress_bar 0.17, label: true, style: 'min-width: 20px', alternative: 'success', active: true %>

<%= render 'form', project_connection: @project_connection %>
