<footer class="footer">
    <small>
      Página creada para el ramo de Diseño Detallado de Software
    </small>
    <nav>
      <ul>
        <li><%= link_to "About",   '#' %></li>
        <li><%= link_to "Contact", '#' %></li>
      </ul>
    </nav>
  </footer>